<div class="col-md-6 col-lg-4">
  <div class="card flats-card">
    <% if flat.photos.first %>
      <div class="cardimg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(flat.photos.first.photo) %>');">
    </div>
    <% else %>
      <div class="cardimg">
      </div>
    <% end %>
    <div class="cardcontent text-center">
      <p><%= flat.location %></p>
      <h3><%= flat.name %></h3>
    </div>
    <div class="cardfooter">
      <h3> €<%= flat.price_per_night %></h3>
      <a href="#"><i class="far fa-heart"></i></a>
    </div>
    <%= link_to "", flat_path(flat), class: "card-link" %>
  </div>
</div>
