<div class="flats-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= flat.photos.first ? flat.photos.first.photo : image_path('apt-beton.jpg') %>');">
  <div class="card-content">
    <p class="card-location"><%= flat.location %></p>
    <h3 class="card-name"><%= flat.name %></h3>
  </div>
  <div class="card-price">
    <h3> €<%= flat.price_per_night %></h3>
  </div>
  <%= link_to "", flat_path(flat), class: "card-link" %>
</div>
