<div>
  <div id="room">

    <!-- picture banner starts here -->

    <div class="grid pictures-banner">
      <% if @flat.photos.first %>
        <div id="picture1" class="apt-pic" style="background-image: url('<%= cl_image_path(@flat.photos.first.photo) %>')">
          <div class="edit-pen">
            <%= link_to edit_flat_photo_path(@flat, @flat.photos.first) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </div>
          <div class="trash">
            <%= link_to flat_photo_path(@flat, @flat.photos.first), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <div id="picture1" class="add-photo">
          <p>+</p>
          <%= link_to "", new_flat_photo_path(@flat), class: "add-photo-link" %>
        </div>
      <% end %>
      <% counter = 1 %>
      <% 4.times do %>
        <% if @flat.photos[counter] %>
          <div class="apt-pic" style="background-image: url('<%= cl_image_path(@flat.photos[counter].photo) %>')">
            <div class="edit-pen">
            <%= link_to edit_flat_photo_path(@flat, @flat.photos[counter]) do %>
              <i class="far fa-edit"></i>
            <% end %>
            </div>
            <div class="trash">
            <%= link_to flat_photo_path(@flat, @flat.photos[counter]), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
          </div>
        <% else %>
          <div class="add-photo">
            <p>+</p>
            <%= link_to "", new_flat_photo_path(@flat), class: "add-photo-link" %>
          </div>
        <% end %>
        <% counter += 1 %>
      <% end %>
    </div>

    <!-- description starts here -->

    <div class="row">
      <div class="container">
        <div class="flat-description">
          <div class="col-sm-8">
            <h1> <%= @flat.name %> </h1>
            <h2> <%= @flat.location %> </h2>
            <p> <%= @flat.description %> </p>
          </div>
          <div class="col-sm-4">
            <div class="booking-box">
              <div class="price_night">
                <p> Price per night: </p>
                <h3> € <%= @flat.price_per_night %> </h3>
              </div>

              <div>
                <p>When do you want to travel?</p>
                <%= simple_form_for(@booking) do |f| %>
                  <%= f.input :start_date, class: "date" %>
                  <%= f.input :end_date, class: "date" %>
                  <%= f.input :flat_id, as: :hidden, input_html: { value: @flat.id } %>
                  <%= f.input :total_price, as: :hidden, input_html: { value: @flat.price_per_night }%>
                  <div class="price_total">
                    <p> Total price: </p>
                    <h3> € <%= @flat.price_per_night %> </h3>
                  </div>
                  <%= f.submit "Request Booking", class: "btn btn-danger" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
