<div class="page-content">
  <div class="index-flex">
    <div class="flats-list">
      <h1 class="main-title text-center">All Bookings</h1>
      <div class="row">
          <% @bookings.each do |booking| %>
            <div class="col-sm-6 col-md-4">
              <div class="flats-card booking-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.flat.photos.first ? booking.flat.photos.first.photo : image_path('apt-beton.jpg') %>');">
                <div class="card-content">
                  <p class="card-location"><%= booking.flat.location %></p>
                  <h3 class="card-name"><%= booking.flat.name %></h3>
                </div>
                <div class="card-price">
                  <h3> €<%= booking.total_price %></h3>
                </div>
                <div class="absolute">
                  <p class="booking-dates"><%= booking.start_date.strftime("%b %d %Y") %> - <%= booking.end_date.strftime("%b %d %Y") %></p>
                </div>
                <%= link_to "", flat_path(booking.flat), class: "card-link" %>
                <div class="booking-state-div">
                  <p class=<%= booking.state %>>
                    <%= booking.state.capitalize %>
                  </p>
                </div>
                  <div class="booking-action trash">
                    <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you certain you want to delete this?'} do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>


              </div>
            </div>
          <% end %>
      </div>
    </div>
</div>
</div>
