<div class="page-content">
  <div class="index-flex">
    <div class="container flats-list">
      <h1 class="main-title text-center">Profile</h1>
      <div class="row">
       <div class="col-xs-5 col-sm-offset-1">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :first_name%>
          <%= f.input :last_name%>
          <%= f.submit "Update Name" %>
        <% end %>
        <h3>Email: <%= @user.email %></h3>
       </div>
       <div class="col-xs-5 col-sm-offset-1">
        <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Update Profile Pic" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
